# Intellij
.idea/
*.iml
*.iws
dependency-reduced-pom.xml
settings.properties

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/

# Mac
.DS_Store

# Maven
log/
target/

# JRebel
.rebel.xml
.rebel-remote.xml
rebel.xml
rebel-remote.xml

build.xml

# Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr

# Artifacts
*.class

# Other
minecraft/1.8.8
bin/
dist/
manifest.mf
Thumbs.db
*.sh

# Generated
.git-versioned-pom.xml